*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;

}

body{
    background-color: rgb(255, 255, 255);
}

main{
    width: 1024px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
}

header{
    height: 350px;
    background: url(../images/angel-jimenez.jpg);
    background-size: cover;
}

h1{
    text-align: center;
    color: aliceblue;
    padding: 200px 0 0 0 ;
}
button{
    background-color: rgb(255, 39, 129);
    color: aliceblue;
}
section{
    width: 100%;
    padding: 0 60px;
}

.derecha{
    float: left;
    width: 50%;
}
.izquierda{
    float: left;
    width: 50%;
}

.centro{
    text-align: center;
}

img{
    width: 300px;
}
    
.flotar1{
    float: right;
    width: 50%;
    color: aliceblue;
   
}
        
.clear{
            clear: both;}
            
h2{
    background: -webkit-linear-gradient(blue, red);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.guitarra{
    background: url(../images/john-raptis.png);
    height: 350px;
    background-size: cover;
}

ul{
    list-style: none;
    float: left;
    color: aliceblue;
    margin: 0 100px 0 0 ;
    
 
   
}

footer{
    background-color: rgb(235, 100, 145);
}
footer p{
    color: aliceblue;
}

button{
    border-radius: 100px;
    padding: 15px 30px;
    cursor: pointer;
    background-color:  rgb(235, 100, 145);

}

button:hover{
    background-color: rgb(255, 167, 167);
}


@media(max-width: 1200px){

    main{width: 993;}


}

@media(max-width: 767px){

    main { width: 600px;

    }
    

    .derecha{ float:none;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        }
    .seccion1{display: flex;
              flex-direction: column;
              align-items: center;
              width: 100%;
            }

    .izquierda{float:none;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .seccion2{display: flex;
              flex-direction: column;
              align-items: center;
              width: 100%}
    .guitarra{display: flex;
              flex-direction: column;
              align-items: center;
            margin-top: 20px;}
    .guitarra h3 {
        margin-top: 30px;
    }
    footer ul{
        margin: 0 65px 0 0 ;
     
    }
    img{
        width: 100%;
    }
              



}